@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Geist, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: underline;
  transition: text-decoration-color 200ms;

  &:hover,
  &:focus {
    text-decoration-color: transparent;
  }
}
